<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed placerat justo. Nullam id volutpat risus, eu suscipit diam. Suspendisse eu lorem non lorem vehicula fringilla sit amet quis tellus. Nunc sit amet tristique tellus. Vivamus sit amet leo quis quam elementum dictum eget rutrum quam. Vestibulum a urna posuere, ornare orci et, congue massa. Aenean a efficitur odio. Vestibulum vitae interdum diam, iaculis tristique lorem. In in mi in arcu varius fringilla non eu purus. Proin non metus luctus, suscipit ipsum at, eleifend purus. Vivamus sed luctus quam. Curabitur luctus mi vel nisl blandit, nec maximus orci sollicitudin.</p>
</ion-content>

<ion-footer>
<ion-button (click)="showAlert()" color="primary">Push me 1!</ion-button>
<span>{{ teste }}</span>
<ion-button [routerLink]="['/']">Mapa</ion-button>
</ion-footer>

